<% if user_signed_in? %>
  <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>

<h1>Choose Watches Category in our store</h1>

<%= @categories.inspect %>
<!--<p></p>-->
<%# @watches.each do |watch| %>
<!--  <h2><%#= watch.name %></h2>-->

<!--  <time datetime="<%#= watch.formatted_created_at %>">-->
    <%#= watch.formatted_created_at %>
<!--  </time>-->

<!--  <p>-->
    <%#= watch.price %>
<!--    <br>-->
    <%#= link_to 'Edit', edit_watch_path(watch) %>
    <%#= button_to 'Destroy', watch_path(watch.id), data: {"turbo_method": :delete} %>
    <%#= link_to 'Show', watch_path(watch.name) %>
<!--  </p>-->



<p></p>
&copy Mine <%= Time.now.year %>

  <%# end %>